:root{
    --main:#160214;
    --main2: #1b0118;

    /*--hover: #a51c45c2;*/
    /*--hover: #d61586ed;*/
    --hover: #d61586ed;

    --main-transparent : #e3160214;
    --transparent: #0000008e;
    --transparent2: rgba(0, 0, 0, 0.5);

    --white: #fff;
    --black: #252525;

    --link: #145353;

    --border: grey;
    /*--border-main: #2a1628;*/
    --border-main: 2px solid #2a1628;
    --border-main2: #160f15;

    --dark-purple: #290826;
    --light-purple: #2a1628;
    --pretty-dark-blue: #16021400;
    --pretty-blue: #3f729b;
    --pretty-purple: #5c1e5c;

    --table-of-content-bg: #e4dada;
    --table-of-content-bg2: #2a1628d7;

    --another-green: #089000;

    --warning: #ac1010;

    --pretty-yellow: #ffff5f;
    --gallery-bg: #f1f1f1;

    --linear-gradient: linear-gradient(43deg, #50c7c7 0%, #3f729b 46%, #1b0112 100%);
    --linear-gradient-hover: linear-gradient(43deg, #1b0112 0%, #3f729b 46%, #50c7c7 100%);

/*========================== THEMES =============================*/
    --sky: #053b50;
    --emerald: #3de712;
    --forest-green: #1f690d;
    --wood: brown;

    /*#4b1946*/

    --title: Lato-Bold-Italic;
    /*--body: Lato-Italic;*/

    --transition: 2s ease;
    --transform: translateY(-5px);

    --hover-padding-1: 10px;
    --hover-padding-2: 20px;

    /*Animations*/

    --slider: translate(300px);

    --header-height: 3rem;

    /*===================== colors ================================*/
    --hue-color: 250; /*purple 250 - Green 145 - Blue 230 - Pink 340 - Green yellow 67 */

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;

    /*=================== Font and typography ======================*/
    --body-font: "Poppins", sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========================= Font weight ==========================*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========================= Margenes bottom ======================*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ...... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*=================== z-index ===============================*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*-------------------------- Font size for large devices ---------------------------*/
@media screen and (min-width:968px) {
    :root {
    /*=================== Font and typography ======================*/
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}

*{
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    /*font-family: 'Zen Dots', cursive;
    font-family: 'Cedarville Cursive', cursive;*/
    /*font-family: CedarvilleCursive-Regular;*/

    outline: none;
    /*--webkit-tap-highlight-color: red;*/
    background: #fffafa !important; /*#e0dbdb #f0ecec #f1f1f1*/
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*========================== TARGET =============================*/
:target{
    color: rgb(183, 0, 255);
}

/*========================== GLOBAL VARIABLES =============================*/
button,
input,
optgroup,
select,
textarea{
    margin:0;

    font-family:inherit;
    font-size:inherit;

    line-height:inherit;
}

h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;text-align: center;}h1{font-size:calc(1.375rem + 1.5vw)}@media (min-width:1200px){h1{font-size:2.5rem}}h2{font-size:calc(1.325rem + .9vw)}@media (min-width:1200px){h2{font-size:2rem}}h3{font-size:calc(1.3rem + .6vw)}@media (min-width:1200px){h3{font-size:1.75rem}}h4{font-size:calc(1.275rem + .3vw)}@media (min-width:1200px){h4{font-size:1.5rem}}h5{font-size:1.25rem}h6{font-size:1rem}p{margin-top:0;margin-bottom:1rem}abbr[data-bs-original-title],abbr[title]{-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none}address{margin-bottom:1rem;font-style:normal;line-height:inherit}ol,ul{padding-right:2rem}dl,ol,ul{margin-top:0;margin-bottom:1rem}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}dt{font-weight:700}dd{margin-bottom:.5rem;margin-right:0}blockquote{margin:0 0 1rem}b,strong{font-weight:bolder}small{font-size:.875em}mark{padding:.2em;background-color:#fcf8e3}sub,sup{position:relative;font-size:.75em;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}a{color:#0d6efd;text-decoration:underline}a:hover{color:#0a58ca}a:not([href]):not([class]),a:not([href]):not([class]):hover{color:inherit;text-decoration:none}code,kbd,pre,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em;direction:ltr;unicode-bidi:bidi-override}pre{display:block;margin-top:0;margin-bottom:1rem;overflow:auto;font-size:.875em}pre code{font-size:inherit;color:inherit;word-break:normal}code{font-size:.875em;color:#d63384;word-wrap:break-word}a>code{color:inherit}kbd{padding:.2rem .4rem;font-size:.875em;color:#fff;background-color:#212529;border-radius:.2rem}kbd kbd{padding:0;font-size:1em;font-weight:700}figure{margin:0 0 1rem}img,svg{vertical-align:middle}table{caption-side:bottom;border-collapse:collapse}caption{padding-top:.5rem;padding-bottom:.5rem;color:#6c757d;text-align:right}th{text-align:inherit;text-align:-webkit-match-parent}tbody,td,tfoot,th,thead,tr{border-color:inherit;border-style:solid;border-width:0}label{display:inline-block}button{border-radius:0}button:focus:not(:focus-visible){outline:0}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,select{text-transform:none}[role=button]{cursor:pointer}select{word-wrap:normal}select:disabled{opacity:1}[list]::-webkit-calendar-picker-indicator{display:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}::-moz-focus-inner{padding:0;border-style:none}textarea{resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{float:right;width:100%;padding:0;margin-bottom:.5rem;font-size:calc(1.275rem + .3vw);line-height:inherit}@media (min-width:1200px){legend{font-size:1.5rem}}legend+*{clear:right}::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-fields-wrapper,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-text,::-webkit-datetime-edit-year-field{padding:0}::-webkit-inner-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:textfield}[type=email],[type=number],[type=tel],[type=url]{direction:ltr}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-color-swatch-wrapper{padding:0}::file-selector-button{font:inherit}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}output{display:inline-block}iframe{border:0}summary{display:list-item;cursor:pointer}progress{vertical-align:baseline}[hidden]{display:none!important}

a,
.link{
    color: var(--link);
    text-decoration: none !important;
}

a,
.link:hover{
    color: var(--hover);
}

a p,
a button{
    text-decoration: none;
}

button{
    border: none;
    outline: none;
}

input{
    accent-color: var(--link);
    display: table;

    width: 100%;
    height: 40px;
    margin: 1.5% 0;

    border: var(--border-main);
    border-radius: 25px;
}

ul li a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    text-align: center;
    font-family: var(--title);
}

a div{
    text-decoration: none !important;
}

/*section{
    margin-top: 2%;
    padding: 2rem 0 4rem;
}*/

table{
    width: 100%;
    margin: 1%;
}

select{
    width: 25%;
    margin: 3%;
    
    color: var(--white);
    background: #2a1628;
    
    border-radius: 25px;
    border: var(--border-main);
    
    cursor: pointer;
}

option{
    font-size: 25px;
}

#space{
    margin-left: 5% !important;
}
 
.line{
    display:inline-block;
}

.line2{
    display: inline-block;
}

.line-hor{
    display:block;
}

.horizontal{
    overflow-x: scroll; 
    overflow-y: hidden; 

    white-space: nowrap;
}

.slide-hor{
    display: flex;

    overflow-x: scroll; 
    overflow-y: hidden; 

    white-space: nowrap;
}

.slide-ver{
    display: table;

    overflow-x: hidden; 
    overflow-y: scroll; 

    white-space: nowrap;
}

.ml-5-per{
    margin-left: 5%;
    margin-right: 5%;
}

.button{
    color: var(--white);
    background: var(--dark-purple);

    width: 190px;
    height: 40px;
    
    border-radius: 20px;
    border: var(--border-main);
}

.button:hover{
    color: var(--dark-purple);
    background: none;

    outline: none;
    transition: var(--transition);
    /*border-radius: 10px;*/
}

.primary-button{
    color: var(--white);
    background: var(--border-main);

    width: 190px;
    height: 40px;

    border-radius: 10px;
}

.secondary-button{
    color: var(--white);
    background: var(--dark-purple);

    border: var(--border-main);

    width: 200px;
    height: 40px;

    border-radius: 10px;
}

.secondary-button:hover{
    color: var(--dark-purple);
    background: var(--white);

    width: 190px;
    height: 40px;
    
    border: var(--border-main);
    border-radius: 10px;

    outline: none;
}

.tertiary-button{
    color: var(--dark-purple);
    background: var(--white);

    border: var(--border-main);

    width: 190px;
    height: 40px;

    border-radius: 10px;
}

.tertiary-button:hover{
    color: var(--white);
    background: var(--dark-purple);

    border: none;
    outline: none;
}

.title{
    text-align: center;
    font-size: 40px;
    font-family: var(--title);

    color: var(--light-purple);

    margin-top: 20px;
    margin-bottom: 20px;
}

.sub-title{
    color: var(--light-purple);

    text-align: center;
    font-size: 30px;
    font-family: var(--title);

    margin-top: 15px;
    margin-bottom: 15px;
}

.gray{
    color: var(--border);
}

.back-and-topic{
    border-bottom: 2px solid var(--light-purple);
}

.back-to-menu{
    font-size: 35px;

    color: var(--light-purple);

    cursor: pointer;
}

.back-to-menu:hover{
    color: var(--hover);
}

.back-to-topic-go-back{
    font-size: 35px;

    text-decoration: none;

    color: var(--light-purple);
}

.back-to-topic-go-back-title{
    color: var(--dark-purple);

    /*margin-left: 25px;
    margin-left: 10px;*/

    font-family: var(--title); 
    font-size: 35px; 

    text-align: center;
    text-decoration: none;
}

.left{
    float: left;
    width: 50%;
}

.right{
    float: right;
    width: 50%;
}

.mid-left{
    width: 33%;
}

.mid-mid{
    width: 33%;
}

.mid-right{
    width: 33%;
}

.aic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.air{
    display: flex;
    align-items: flex-end;
    align-items:flex-end;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

/*========================== SCROLL BAR =============================*/
/*
/*width*
::-webkit-scrollbar{
    width: 10px;
}

/*track*
::-webkit-scrollbar-track{
    background: #f1f1f1;

    border-radius: 25px;
}

/*handle*
::-webkit-scrollbar-thumb{
    background: #888;
}
*/
/*width*/
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

/*track*/
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/*handle*/
::-webkit-scrollbar-thumb{
    background: var(--linear-gradient);

    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--linear-gradient-hover);

}

/*========================== ICONS =============================*/
.fa-instagram{
    color: var(--white);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    
    border-radius: 50%;

    /*color: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);*/
}

.instagram-text{
    color: var(--white);
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

    background-clip: text;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
}

.fa-twitter{
    color: #00acee;
}

.fa-snapchat{
    color: #000;
    background: var(--white)c00;
}

.fa-github{
    color: var(--white);
    background: #000;

    border-radius: 25px;
}

.fa-pinterest{
    color: #c8232c;
    background: var(--white);

    border-radius: 50%;
}

.fa-linkedin,
.fa-linkedin-in{
    color: var(--white);
    background: #0072b1; /*#86888a #caccce*/
}

.fa-whatsapp{
    color: var(--white);
    background: #25d366; /*#075e54 #128c7e*/

    border-radius: 25px;
}

.fa-facebook{
    color: var(--white);
    background: #4267b2;

    border-radius: 25px;
}

.fa-youtube{
    color: #c4302b;
}

/*
.fa-tiktok{
    color: #111111;
    filter: drop-shadow(-5px -5px 0 #24f6f0) contrast(150%) brightness(100%);
    z-index: -1;
}

.fa-tiktok{
    color: #111111;
    filter: drop-shadow(2px 0 0 #fd3e3e) drop-shadow(-2px -2px 0 #4de8f4);
}*/

.fa-tiktok{
    color: #111111;
    filter: drop-shadow(2px 0 0 #fd3e3e) drop-shadow(-2px -2px 0 #4de8f4);
}

/*.tiktok-logo{
    font-size: 100px;
    position: relative;
    color: #00fff8;
}

.tiktok-logo i:last-child{
    mix-blend-mode: multiply;
    color: #ff0010;
    position: absolute;
    left: 5px;
    top: 7px;
}*/

.fa-spotify{
    /*color: linear-gradient(120deg, #1db954,#191414);*/
    color: #1db954;
    background: #000;
    
    border-radius: 50%;
}

.g-blue{
    color: #4285f4;
}

.o-red{
    color: #db4437;
}

.o-yellow{
    color: #f4b400;
}

.l-green{
    color: #0f9d58;
}

.e-red{
    color: #db4437;

    display: inline-block;

    transform: rotate(-20deg);
}

.fa-reddit{
    color: #ff4500;
    background: var(--white);
    border-radius: 50%;
}

.fa-quora{
    color: #a82400;
}

.fa-podcast{
    color: var(--white);
}

/*========================== TOOLTIP =============================*/
/*.tooltip{
    background: var(--main);
    color: white;

    width: 10px;
    height: 10px;
}*/

/*
a.tip{
    border-bottom: 1px dashed;
    text-decoration: none;
}

a.tip:hover{
    cursor: help;
    position: relative;
}

a.tip span{
    display: none;
}

a.tip:hover span{
    display: block;
    position: absolute;

    background: url(../Assets/Images/21.jpg);

    z-index: 100;

    width: 250px;

    top: 10px;
    left: 0;

    margin: 10px;

    border: firebrick 1px dotted;

    padding: 5px 20px 5px 5px;

    text-decoration: none;
}*/

/*========================== #80008004 #80008042=============================*/
nav{
    background: var(--linear-gradient);

    position: fixed;
    cursor: pointer;

    width: 5%;
}

nav h1{
    cursor: pointer;
}

#menu-btn{
    margin-left: 20px;
}

#open-menu-btn,
#close-menu-btn{
    color: var(--white);

    font-size: 40px;
    margin-top: 5px;

    transition: var(--transition);
}

#open-menu-btn:hover,
#close-menu-btn:hover{
    color: var(--hover);
    transition: var(--transition);
}

#close-menu-btn{
    display: none;
}

nav ul{
    color: var(--white);

    height: 3300px;
    margin-top: 20px;

    transition: var(--transition);
}

.nav-menu-list{
    display: block !important;
}

nav .nav-menu-other{
    display: none;
    cursor: pointer;
}

nav ul li{
    margin-bottom: 20px;
    font-size: 23px;

    cursor: pointer;
}

nav ul li a,
header ul li a{
    color: var(--white);
}

nav ul li a:hover,
header ul li a:hover,
nav .nav-menu-other:hover{
    color: var(--hover);
}

/*========================== HEADER =============================*/
header{
    position: fixed;
    /*background-image: url('../Assets/Images/12.jpg');*/
    background: var(--linear-gradient-hover);

    width: 100%;
    left: 5%;
    
    display: flex;
    justify-content: space-evenly;

    font-size: 2rem;
}

#header-home{
    background: none;
}

.scroll-header{
    background: var(--linear-gradient-hover);
}

header ul{
    display: flex;

    color: var(--white);
    
    font-size: 1.2rem;
    column-gap: 2.5rem;
}

#header-themes ul li{
    font-size: 1.5rem;
}

/*==========================DARK/LIGHT THEME TOGGLE=============================*/
/*🌞🌙🌟*/
.dark-theme,
.light-theme{
    transition: var(--transition);
}

.theme .light-theme,
.light-theme{  
    display: none;
}

.dark-theme:hover,
.light-theme:hover{
    color: var(--hover);
    cursor: pointer;
}

/* show menu */
#phone-header{
    position: fixed;

    background: var(--linear-gradient);
    
    /*width: 80%;
    height: 70%;
    margin: 0 10%;*/
    
    width: 100%;
    top: 7%;
    /*border-radius: 25px;*/
  
    display: flex;
    justify-content: space-around;
}

#phone-header li{
    color: var(--white);

    font-size: 1rem;
    margin-bottom: 2.5%;  
}

#phone-header ul li a:hover{
    color: var(--hover);
}

/*========================== SCROLL TO TOP =============================*/
#scroll-to-top{
    color: var(--white);
    /*background: var(--main2);*/
    background: var(--linear-gradient);
    
    font-size: 40px;
    
    height: 65px;
    width: 65px;
    
    top: 85%;
    right: 30px;
    
    border-radius: 50%;
    outline: none;
    
    display: none;
    position: fixed;

    cursor: pointer;
    
    transition: var(--transition);
}

#scroll-to-top:hover{
    color: var(--main2);
    background: var(--linear-gradient-hover);
    
    border-radius: 20px;
}

/*========================== SCROLL DOWN =============================*/
#scroll-down{
    background: var(--main2);
    color: var(--white);

    font-size: 40px;

    height: 65px;
    width: 65px;

    top: 85%;
    left: 30px;

    border: var(--border-main);
    border-radius: 20px;
    outline: none;

    position: fixed;

    cursor: pointer;
}

#scroll-down:hover{
    background: var(--white);
    color: var(--main);
}

/*========================== ACESSIBILITY =============================*/
#accessibility{
    background: var(--main2);
    color: var(--white);

    font-size: 40px;

    height: 65px;
    width: 65px;

    top: 85%;
    left: 7%;

    border: var(--border-main);
    border-radius: 20px;
    outline: none;

    position: fixed;

    cursor: pointer;
}

#accessibility:hover{
    background: var(--white);
    color: var(--main);
}

/*========================== FOOTER =============================*/
footer{
    padding: 20px;
    background: var(--linear-gradient-hover);
}

footer li a{
    color: var(--white);
}

footer li:hover,
footer li a:hover{
    color: var(--hover);
}

footer p{
    color: #fafafa;
}

#copyright{
    padding-top: 20px;

    text-align: center;
    font-size: 20px;
}

#footer-socials li{
    color: var(--white);
    font-size: 150%;
}

#footer-socials{
    display: flex;
    justify-content: space-around;
}

#footer-socials li{
    transition: var(--transition);
}

#footer-socials li:hover{
    transform: var(--transform);
}

/*============================            LINE IN BETWEEN            ==============================*/
.line-in-between{
    width: 70%;
    margin: 0.7% auto;

    font-family: var(--title);
    font-size: 26px;
    font-weight: 300;
    
    text-align: center;
    
    overflow: hidden;
}

.line-in-between p::before,
.line-in-between p::after{
    content: "";
    display: inline-block;

    width: 50%;
    margin: 0 0.5em 0 -55%;

    vertical-align: middle;
    border-bottom: 1px solid;
}

.line-in-between p::after{
    margin: 0 -55% 0 0.5em;
}

.line-in-between p{
    display: inline-block;
    vertical-align: middle;
}

/*========================== RESPONSIVE MEDIA QUERIES 500 690 947 999 1104 1330 =============================*/
@media screen and (min-width: 1330px) {
    .appear-phone-tablet{
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .left,
    .right{
        width: 45%;
    }
}

@media screen and (min-width: 1025px) {
    .appear-phone-tablet,
    #phone-header{
        display: none !important;
    } 
    
    #footer{
        display: flex;
        justify-content: space-between;
    } 
    
    .footer-title{
        margin-left: 30px;
    }
}

@media screen and (max-width: 1024px) {
    #space{
        margin-left: 0 !important;
    }

    header{
        width: 100%;
        left: 0;
    }

    header p{
        margin-left: 5%;
    }

    #header-menu,
    #nav-menu{
        display: none;
    }
    
    nav{
        height: 0;
    }

    #footer-menu-1{
        margin-left: 0;
    }

    #podcast{
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 940px) {
    .left,
    .right{
        width: 40%;
    }
}

@media screen and  (max-width: 900px) { 
    /*========================== SCROLL BAR =============================*/
    ::-webkit-scrollbar{
        width: 5px;
        height: 8px;
    }
    /*========================== NAV =============================*/
    .appear-laptop{
        display: none;
    }
    .appear-phone-tablet{
        display: block;
    }

/*========================== GLOBAL VARIABLES =============================*/
    #space{
        overflow-x: hidden;
    }

    #open-menu-btn,
    #close-menu-btn{
        color: var(--white);
        font-size: 30px;
        margin-left: 15px;     
    }

    /*========================== FOOTER =============================*/
    .footer-title{
        text-align: center;
        font-size: 30px;
    }

    #footer-menu-1,
    #footer-menu-2{
        display: inline-block;
        
        width: 45%;
        margin-left: 25px;
    }

    #footer-menu-3,
    #footer-menu-4{
        display: inline-block;

        width: 45%;
        margin-left: 25px;
    }

    #footer-menu-2{
        float: right;
    }

    #footer-menu-4{
        float: right;
    }

    .footer-menu li{
        font-size: 20px;
    }

    footer hr{
        clear: both;
    }

    #copyright{
        font-size: 23px;
    }
}

@media screen and (max-width: 830px) {
    .left,
    .right{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .appear-phone-tablet{
        display: none;
    }
}

@media screen and (min-width: 200px) and (max-width: 767px) {
    #footer-menu-1{
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    #space{
        margin-left: 0;
    }
    #footer-menu-3{
        margin-left: 0;
    }
}

@media screen and (max-width: 690px) {
    .appear-laptop{
        display: none;
    }
}

@media screen and (max-width: 620px) {
    #footer-menu-1,
    #footer-menu-2,
    #footer-menu-3
    #footer-menu-4{
        width: 47%;
    }
}
  
@media screen and (min-width: 200px) and (max-width: 500px){
    .appear-laptop{
        display: none;
    }
    .appear-phone-tablet{
        display: block;
    }

/*======================== NAV =============================*/
    #open-menu-btn,
    #close-menu-btn{
        color: var(--white);
        font-size: 30px;
        cursor: pointer;     
    }

    #phone-close-btn{
        display: none;
        cursor: pointer;
    }

    /*========================== FOOTER =============================*/
    .footer-title{
        font-size: 30px;
        margin-left: 30px;
    }

    /*#footer-menu-4{
        font-size: 20px;
    }*/

    .footer-menu li{
        font-size: 20px;
    }

    #copyright{
        font-size: 20px;
    }

    #footer-pages p a,
    #footer-pages button{
        display: flex;

        font-size: 17px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 470px) {
    #footer-menu-1,
    #footer-menu-2,
    #footer-menu-3,
    #footer-menu-4{
        width: 100%;
    }
}

@media screen and (max-width: 469px) {
    .display-tablet{
        display: none;
    }

    #footer-menu-1,
    #footer-menu-2,
    #footer-menu-3,
    #footer-menu-4{
        width: 100%;
    }
}

@media screen and (max-width: 425px){
    /*========================== FOOTER =============================*/
    .footer-title{
        font-size: 30px;
        margin-left: 30px;
    }

    #footer-menu-4{
        font-size: 20px;
    }

    .footer-menu li{
        font-size: 20px;
    }

    #copyright{
        font-size: 23px;
        margin-left: 20%;
        margin-right: 20%;
    }

    #footer-pages p a,
    #footer-pages button{
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    #footer-socials ul{
        font-size: 25px;
    }
}

@media screen and (max-width: 300px) {
    #space{
        margin-left: 0;
    }
}

@media screen and (max-width: 297px) {
    #footer-pages p,
    #footer-pages button{
        margin-left: 1.5%;
    }
}

@media screen and (max-width: 280px) {
    /*========================== FOOTER =============================*/
    #footer-pages p,
    #footer-pages button{
        margin-left: 1%;
    }
}




/*============================= HOME PAGE ================================*/
/*========================== HOME-PAGE SECTION=============================*/
.max-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 80px;
}

#home-page{
    /*background: linear-gradient(crimson,black);*/
    /*background: url("../Assets/My\ pictures/5.jpg") no-repeat center;
    background-color: #caad0a;
    background-size: contain;*/
    background: url("Assets/My\ Art/Artworks/below the ocean.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
    min-height: 500px;

    padding: 100px 0;

    /*color: var(--dark-purple);*/
    color: var(--white);

    display: flex;
}

#home-page #max-width{
    margin: auto 0 auto 40px;
}

#home-page #home-page-content .text-1{
    font-size: 27px;
}

#home-page #home-page-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

#home-page #home-page-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

#home-page #home-page-content .text-3 span{
    color: var(--dark-purple);
    font-weight: 500;
}

#home-page #home-page-content a{
    color: var(--white);
    background: var(--dark-purple);

    font-size: 25px;
    text-decoration: none;

    padding: 12px 36px;

    margin-top: 20px;
    
    border: 2px solid var(--dark-purple);
    border-radius: 6px;

    transition: all .3s ease;

    display: inline-block;
}

#home-page #home-page-content a:hover{
    color: var(--dark-purple);
    background: none;
}

/*IMAGE GALLERY*/
.img-gallery-body{
    /*background: #ccc;*/
    background: var(--main);
    
    width: 100%;
    height: 400px;
    
    margin: 120px auto;
    
    border-radius: 20px;
    
    display: flex;
}

.col{
    position: relative;
    
    color: #fff;
    
    height: 100%;
    padding: 25px;
    
    flex: 1;
    
    box-sizing: border-box;
    
    transition: .6s;
}

.col:nth-child(1){
    background: #283491;
    border-radius: 20px;
}

.col:nth-child(2){
    background: #f18684;
    border-radius: 20px;
    border-bottom-left-radius: 0;
}

.col:nth-child(3){
    background: #6ee2f1;
    border-radius: 20px;
    border-bottom-left-radius: 0;
}

.img-gallery-body h2{
    font-size: 22px;
    font-weight: 600;
    
    text-align: center;
}

.caption{
    width: 45%;
    
    font-size: 22px;
    
    margin: 28px 0;
    max-width: 230px;
    
    display: none;
}

.caption button{
    color: #fff;
    background: transparent;
    
    font-size: 25px;
    
    margin-top: 20px;
    
    padding: 8px 18px;
    
    border: 1px solid #fff;
    border-radius: 30px;
    
    outline: none;
    
    cursor: pointer;
}

.col img{
    position: absolute;
    
    /*width: 200px;*/
    width: 50%;
    height: 80%;
    
    top: 20%;
    
    right: 0;
    bottom: 0;
    
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    
    object-fit: cover;
}

.col:hover{
    flex-grow: 2.5;
}

.col:hover .caption{
    display: block;
}

.img-gallery-body .col:hover h2{
    text-align: left;
}


/*IMAGE GALLERY PHONE*/
.img-gallery-body-phone{
    /*background: #ccc;*/
    background: var(--main);
    
    width: 100%;
    height: 100px;

    border-radius: 20px;
}

.img-gallery-body-phone h2{
    text-align: left;
}

.img-gallery-body-phone .col:hover{
    height: 400px;
}

.img-gallery-body-phone .col:nth-child(1){
    border-radius: 0;
}

.img-gallery-body-phone .col:nth-child(2){
    border-radius: 0;
}

.img-gallery-body-phone .col:nth-child(3){
    border-radius: 0;
}

/*========================== ABOUT =============================*/
#about{
    width: 100%;
    padding: 30px;
    margin-top: 20px;

    color: #fafafa;
    background: var(--border-main2);
    
    border: var(--border-main);
    border-radius: 30px;

    display: none;
}

#about-div{
    display: flex;
}

#about-text{
    font-size: 2.7rem;
}

#about-text small{
    margin-left: 5%;
}

@media screen and (max-width: 768px) {   
    #about-text{
        font-size: 2rem;
    }
}

#about-img-right{
    width: 50%;
    height: 400px;

    object-fit: cover;
    
    border-radius: 25px !important;
}

/*========================== SERVICE =============================*/
#service{
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 2%;

    color: #fafafa;
    background: var(--border-main2);
    
    border: var(--border-main);
    border-radius: 30px;
}

#services{
    display: flex;
}


.service-box{
    width: 24%;
    margin: 1%;
    
    padding: 30px;
    border-radius: 20px;

    background: var(--dark-purple);
    
    text-align: center;
}

@media screen and (max-width: 768px) {
    #services{
        display: block;
    }

    .service-box{
        width: 100%;
        margin-bottom: 3%;
    }
}

/*========================== WORK =============================*/
#work-div{
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 2%;
    
    color: #fafafa;
    background: var(--border-main2);
    
    border: var(--border-main);
    border-radius: 30px;

    display: flex;
}

.work-divs{
    width: 45%;
    margin: 2.5%;
    
    padding: 30px;
    border-radius: 20px;
    
    color: #fafafa;
    background: var(--dark-purple);
    
    text-align: center;

    cursor: pointer;

    transition: var(--transition);
    transform: var(--transform);
}

.work-divs:hover{
    color: var(--hover);

    transform: var(--transform);
    transition: var(--transition);
}


/*========================== CONTACT =============================*/
#contact-email{
    width: 100%;
    padding: 30px;

    margin-top: 20px;
    margin-bottom: 2.5%;

    color: #fafafa;
    background: var(--dark-purple);
    
    border: var(--border-main);
    border-radius: 30px;
}

#contact-div{
    display: flex;
}

#contact-text{
    padding: 30px;
    font-size: 2rem;
}

#contact-text button{
    color: #fafafa;
    background: var(--light-purple);
    
    width: 100%;
    padding: 20px;
    
    margin: 2.5%;
    border-radius: 25px;

    transition: var(--transition);
    transform: var(--transform);
}

#contact-text button:hover{
    background: var(--main2);
    transition: var(--transition);
    transform: var(--transform);
}

@media screen and (max-width: 768px) {
    #contact-text{
        font-size: 1rem;
        padding: 15px;
    }   
}

#contact-text small{
    margin-left: 5%;
}

@media screen and (max-width: 768px) {   
    #contact-text{
        font-size: 2rem;
    }
}

#contact-img-right{
    width: 50%;
    height: 400px;

    object-fit: cover;
    
    border-radius: 25px !important;
}


/*========================== PICTURES =============================*/
#pictures .item{
    margin: 3px;
}

#pictures .item img{
    display: block;
    
    width: 100%;
    height: 250px;
    
    border-radius: 25px;
    
    object-fit: cover;
}
/*========================== RESPONSIVE MEDIA QUERIES 500 690 947 999 1104 1330 =============================*/
@media screen and (max-width: 1330px) {
    /*========================== HOME-PAGE =============================*/
    #home-page .max-width{
        margin-left: 0;
    }
}

@media screen and (min-width:501px) and (max-width:1023px) {
    /*========================== HOME-PAGE =============================*/
    #home-page #home-page-content .text-2{
        font-size: 50px;
    }
    #home-page #home-page-content .text-3{
        font-size: 27px;
        /*font-size: 27px;*/
    }
    
    /*========================== HOME-PAGE =============================*/
    #home-page-page #home-page-page-content .text-2{
        font-size: 50px;
    }
    #home-page-page #home-page-page-content .text-3{
        font-size: 27px;
        /*font-size: 27px;*/
    }
    
    /*========================== ABOUT =============================*/
    .about-text{
        width: 100%;
    }
    
    .img-right{
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width: 690px) {
    /*========================== HOME-PAGE =============================*/
    .max-width{
        padding: 0 23px;
    }
    #home-page #home-page-content .text-2{
        font-size: 60px;
    }
    #home-page #home-page-content .text-3{
        font-size: 32px;
    }
    #home-page #home-page-content a{
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) {
    .img-gallery-body-phone{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .img-gallery-body{
        display: none;
    }

    .img-gallery-body-phone{
        display: block;
    }

    #service{
        margin-top: 50%;
    }
}

@media screen and (min-width:300px) and (max-width:500px){
    /*========================== HOME-PAGE =============================*/
    #home-page #home-page-content .text-2{
        font-size: 50px;
    }
    #home-page #home-page-content .text-3{
        font-size: 27px;
        /*font-size: 27px;*/
    }

/*========================== HOME-PAGE =============================*/
    #home-page-page #home-page-page-content .text-2{
        font-size: 50px;
    }
    #home-page-page #home-page-page-content .text-3{
        font-size: 27px;
        /*font-size: 27px;*/
    }

/*========================== ABOUT =============================*/
    .about-text{
        width: 100%;
    }

    .img-right{
        width: 100%;
        height: 400px;
    }

}



    
/*================================ BLOG ====================================*/
#blogs{
    width: 50%;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 25%;
    margin-right: 25%;

    align-items: center;
    justify-content: center;
}

a .blog-div{
    color: #fffafa;
    text-decoration: none !important;
}

.blog-div{
    height: 200px;

    background-image: url('Assets/My\ Art/Artworks/underneath the interspace of stars and clouds.png');

    border: var(--border-main);
    border-radius: 30px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blog-div p{
    font-size: 2rem;
}

@media screen and (max-width: 1024px) {
    #blogs{
        margin-top: 15%;
        margin-bottom: 40%;
    
        align-items: center;
    }
}

/*======================================= PODCAST ===================================================*/
#podcast{
    margin-top: 10%;
    margin-left: 5%;
}

iframe{
    margin: 2% 5%;
    width: 90%;
}
/*========================== CAROUSEL =============================*/
.carousel{
    width: 95%;
    height: 400px;
    margin-left: 5% !important;

    margin: 5% 2.5% 2.5%;

    border: var(--border-main);
    border-radius: 30px;

    box-shadow: var(--shadow);

    position: relative;
}

@media screen and (max-width: 1024px) {
    .carousel{
        margin-top: 15% !important;
        margin-left: auto;
    }
}

.carousel img{
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 30px;

    object-fit: cover;

    opacity: 0;
    transition: 4s;
} 

.carousel img:hover{
    transform: translateY(-10px);
}

.carousel img.active{
    opacity: 1;
}

/*===============================           PODCAST         ===============================*/
.podcast-info{
    border: var(--border-main);
    border-radius: 25px;

    margin: 1%;
}

#podcast-head{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 20px;
}

#podcast-pic{
    width: 40%;
    height: 200px;
    border-radius: 30px;

    object-fit: cover;
    
    transition: var(--transition);
}

#podcast-pic:hover{
    transform: var(--transform);
}

#podcast-name{
    text-align: center;

    color: var(--light-purple);
    
    font-family: var(--title);
    font-size: 2rem;
    
    text-decoration: none !important;
}

#podcast-name:hover{
    color: var(--hover);
}

#podcast-description{
    margin-left: 2.5%;
    font-size: 1.2rem;
}

.can-also-listen-on{
    text-align: center;

    font-size: 34px;
    font: var(--title);
}

.can-also-listen-on{
    display: flex;
    justify-content: center;
}

#other-streaming-platforms{
    columns: 5;
    height: 500px;

    margin: 0 0 0 2%;
}

#other-streaming-platforms a{
    color: var(--link);
    font-size: 1.2rem;
}

#other-streaming-platforms a:hover{
    color: var(--hover);
}

#podcast-universal-link-button{
    height: 75px;

    padding: 20px;
    border-radius: 50px;

    font-size: 25px;

    color: var(--white);
    background: var(--linear-gradient);

    transition: var(--transition);
}

#podcast-universal-link-button:hover{
    color: var(--main2);
    background: var(--linear-gradient-hover);
}

.socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    overflow-x: scroll;
}

.socials a{
    margin: 2%;

    font-size: 50px;

    transition: var(--transition);
}

.socials a:hover{
    transform: var(--transform);
}

/*============================== AUDIO & VIDEO =================================*/
#audio-video-title{
    display: flex;
    justify-content: space-around;
}

#audio-title,
#video-title{
    color: var(--main2);
    margin-top: 20px;
    cursor: pointer;
}

#audio-title:hover,
#video-title:hover{
    color: #fff;
    background-color: var(--main);

    padding: 10px;
    border-radius: 25px;
}

.podcast-iframe{
    width: 95%;
    height: 100%;

    margin: 2% 2.5%;
    border-radius: 25px;
}

.podcast-youtube-playlist{
    width: 95%;
    height: 100%;

    margin: 2% 2.5%;
    border-radius: 25px;
}

#video{
    display: none;
}

.podcast-episode-info-head{
    display: flex;
    justify-content: space-evenly;
}

.podcast-episode-info-head h2{
    color: #fff;
    background-color: var(--pretty-blue);
    
    padding: 10px;
    margin-top: 20px;
    border-radius: 25px;

    cursor: pointer;
}

.podcast-episode-info-head h2:hover{
    color: var(--pretty-blue);
    background: var(--white);
}

.podcast-episode-description-body,
.podcast-episode-transcription-body{
    font-size: 25px;
    margin-left: 2%;

    display: none;
}

.podcast-episode-description-body:hover,
.podcast-episode-transcription-body:hover{
    transition: var(--transition);
}



/*===================================== SOCIALS AND LINKS ===========================================*/
#socials-links-title{
    margin-top: 5%;
    margin-bottom: 2.5%;
}

@media screen and (max-width: 1024px) {
    #socials-links-title{
        margin-top: 15%;
    }
}

#socials-links{
    align-items: center;
    justify-content: center;
}

#socials-links a div{
    color: #fffafa;
    font-size: 1.3rem;
    text-decoration: none;
    
    padding: .5%;
    margin-bottom: 2.5%;
}

#socials-links div{
    background-color: var(--pretty-blue);
   
    border: 2px var(--first-color-lighter);
    border-radius: 30px;

    width: 50%;
    padding: 1%;
    
    margin-left: 25%;
    margin-right: 25%;

    display: flex;
    justify-content: center;
}

#socials-links div:hover{
    transform: var(--transform);
    transition: var(--transition);
}







/*================================ GALLERY ===================================*/
#gallery-title{
    margin-top: 5%;
}

/*=====================           GALLERY PICTURE                ==========================*/
#myModal{
    background: var(--gallery-bg);

    width: 90%;
    height: 80%;

    top: 10%;
    bottom: 10%;
    left: 8%;
    right: 5%;

    display: none;

    border: var(--border-main);
    border-radius: 20px;

    position: fixed;

    transition: var(--transition);

    clear: both;
}

#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#slide-number{
    font-size: 20px;
}

#slide-no-now,
#slide-no-all{
    font-family: var(--title);
    font-size: 25px;
}

#gallery-picture-line{
    height: 80%;

    margin-top: 2.5%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#gallery-picture-prev,
#gallery-picture-next,
#close-picture{
    color: var(--light-purple);

    font-size: 50px;
    
    transition: var(--transition);

    cursor: pointer;
}

#gallery-picture-prev:hover,
#gallery-picture-next:hover,
#close-picture:hover{
    color: var(--hover);
}

#picture{
    width: 60%;
    height: 100%;

    margin: 2% 5%;

    border-radius: 25px;

    align-items: center;
    object-fit: cover;

    cursor: pointer;
}

#gallery-picture-prev,
#gallery-picture-next{
    margin: 2%;
    padding: 10px;

    border: var(--border-main);
    border-radius: 50px;
}

#gallery-picture-prev:hover,
#gallery-picture-next:hover{
    background: var(--main);
}

/*====================             GALLERY TOP MENU                  =============================*/
#gallery-top-menu{
    margin: 3%;

    display: flex;
    justify-content: space-around;

    overflow-x: scroll;
}

#gallery .box.hide{
    display: none;
}

#gallery-top-menu a,
#gallery-top-menu p{
    color: var(--white);
    background: var(--sky);

    font-size: 30px;
    text-decoration: none !important;
    
    padding: 25px;
    border-radius: 50%;

    transition: var(--transition);

    cursor: pointer;
}

#gallery-top-menu a:hover,
#gallery-top-menu p:hover,
#gallery-top-menu a i:hover,
#gallery-top-menu p i:hover{
    color: var(--sky);
    background: none;

    transform: var(--transform);
}

#all-select{
    margin: 2% 5%;
    
    display: flex;
    justify-content: space-between;
}

#all-select select{
    width: 8%;
    height: 5%;
}

#gallery{
    margin-left: 5%;
    columns: 4;
}

.box{
    background: var(--gallery-bg);
    
    /*width: 300px;*/
    width: 100%;
    margin: 2%;
    
    border-radius: 25px;
    transition: var(--transition);
}


.box img,
.box iframe,
.box video{
    width: 95%;

    margin: 2% 2.5%;

    border-radius: 25px;

    transition: var(--transition);

    cursor: pointer;
}

.box:hover,
.box img:hover,
.box iframe:hover,
.box video:hover{
    transform: var(--transform);
}

.box .comment{
    color: var(--light-purple);

    font-size: 30px;
    font-weight: 450;
    
    text-align: center;
    text-decoration: none !important;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
    #gallery-title{
        margin-top: 15%;
    }
}
@media screen and (max-width: 900px) {
    #myModal{    
        height: 70%;
        
        top: 25%;
        left: 5%;
        right: 5%;
    }

    #gallery-picture-prev,
    #gallery-picture-next{
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    #gallery{
        columns: 3;
    }
}

@media screen and (max-width: 729px) {
    #myModal{        
        top: 20%;
    }
}

@media screen and (max-width: 600px) {
    #gallery-picture-prev,
    #gallery-picture-next{
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    #gallery{
        columns: 2;
    }
}

@media screen and (max-width: 400px) {
    #myModal{    
        width: 100%;
        
        left: 0;
        right: 0;
    }

    #gallery-picture-prev,
    #gallery-picture-next{
        font-size: 25px;
    }
}


/*========================== WORK ==================================*/
#work-title{
    margin-top: 7%;
}

@media screen and (max-width: 1024px) {
    #work-title{
        margin-top: 12%;
    }   
    
    #work-body{
        margin-left: 0 !important;
    }   
}

@media screen and (min-width: 1024px) {
    #work-body{
        display: flex;
        justify-content: space-evenly;
    }
}

.work{
    width: 400px;
    height: 400px;

    margin: 2.5%;
    padding: 2%;

    border: var(--border-main);
    border-radius: 25px;

    transition: var(--transition);
    
    overflow: hidden;
}

.work:hover{
    transform: var(--transform);
}

.work img{
    width: 100%;
    height: 60%;

    border-radius: 35px;

    object-fit: cover;
} 

a .work h2{
    color: var(--light-purple);

    font-size: 40px; /*60*/
    text-decoration: none !important;
}

a .work h2:hover{
    color: var(--hover);
}

/*=========================== WEBDEV ====================================*/
#web-dev-work{
    margin-left: 5% !important;
}

@media screen and (max-width: 1024px) {
    #web-dev-work{
        columns: 1 !important;
        margin-left: 0 !important;
        padding: 2%;
    }

    .project-body{
        margin: 2.5% !important;
    }
}

.project-body ::-webkit-scrollbar-thumb{
    background: var(--pretty-blue);
}

.project-box{
    height: 450px;
    margin: 2.5%;
    
    border: var(--border-main);
    border-radius: 25px;
    
    text-decoration: none !important;

    overflow: hidden;
    transition: var(--transition);
}

.project-box p{
    color: var(--dark-purple);
    font-size: 1.5rem;
    
    transition: var(--transition);
    
    text-align: center;
}

.project-box p:hover{
    transform: var(--transform);
}

.languages-used{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background: var(--table-of-content-bg);
}

.languages-used p:hover{
    color: var(--hover);
}

.languages-used img{
    width: 50px;
    height: 50px;
    
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-img-body img{
    width: 100%;
    height: 280px;

    margin: 2%;
    border-radius: 35px;
    
    object-fit: cover;
} 

.project-description{
    margin-left: 2.5%;
}

.project-description p{
    font-size: 22px;
}

/*=========================== ART PORTFOLIO ====================================*/
#art-portfolio{
    margin-top: 7%;
}

@media screen and (max-width: 1024px) {
    #art-portfolio{
        margin-top: 12.5%;
    }    
}

#art-work-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#art-work-title h2,
#web-dev-work-title h2{
    color: var(--main2);
    
    margin-top: 20px;

    cursor: pointer;
}

@media screen and (max-with: 1024px) {
    #art-portfolio{
        margin-left: 0 !important;
    }
}

/*=========================== RESPONSIVENESS ====================================*/
@media screen and (max-width: 1200px) {
    .work h2 a{
        font-size: 50px;
    }
}

@media screen and (max-width: 650px) {
    a .work h2{
        font-size: 35px;
    }
}

@media screen and (min-width: 769px) {
    .project-box,
    .project-description{
        width: 50%;
    }
}

@media screen and (max-width: 430px) {
    a .work h2{
        font-size: 40px;
    }
}

/*
@media screen and (max-width: 600px) {
    .work h2 a{
        font-size: 40px;
    }
}

@media screen and (max-width: 433px) {
    .work h2 a{
        font-size: 30px;
    }
}*/