:root{
    --main:#801375;
    --main2: #3f0938;
    /*--main2: #d48ecc; #3f0938*/
    
    --background-color1:#610858;
    --background-color2:#333335;
    --background-color3: #52134a;
    --background-color4: #1f1d1e;
    --background-color5: #252525;

    /*--background-color: #2e0b2a;*/
    --background-color: #160214;

    /*--hover: #a51c45c2; #e667b1ed */
    --hover: #eec7ea;

    --main-transparent : #e3160214;
    --transparent: #0000008e;
    --transparent2: #00000080;

    --white: #fafafa;
    --link: #50c7c7;
    --border: grey;
    --border-main: 2px solid #64055b;

    --dark-purple: #551150; /*#270624 #53164e #6e3169 #ff0aeb #ff0aebb2 #ff0ae #ff0aeba4*/
    --light-purple: #e48fdb;
    /* #5c0555 #53204f #74246db0
    #97298c
    --dark-purple: #af4ea7;
    --light-purple: #ac33a0;
    */
    --pretty-dark-blue: #16021400;
    --pretty-blue: #3f729b;
    --pretty-purple: #5c1e5c;

    --table-of-content-bg: #a367a0;
    --table-of-content-bg--2: #164952;
    --table-of-content-bg2: #2a1628d7;

    --another-green: #089000;

    --warning: #c81616; /*#eb7070 #c32424*/

    --pretty-yellow: #ffff5f;
    --gallery-bg: #f1f1f1a8;

/*========================== THEMES =============================*/
    --sky: #053b50;
    --sky-2: #287fa1;
    --emerald: #3de712;
    --forest-green: #1f690d;
    --wood: brown;
}

body{
    color: var(--white) !important;
    background-color: var(--background-color) !important;
}

#phone-header li a{
    color: #fffafa !important;
}

.title,
.small-title,
h1,
h2,
h3,
h4,
h5,
h6,
.comment,
.important-info-box p a,
.back-to-topic-go-back-title,
#blog-title,
#podcast-title,
#audio-title,
#video-title,
#about-me-title,
#socials-title,
#faqs-title,
#contact-me-title,
#social-media-title,
#art-portfolio-title h2,
#web-dev-portfolio-title h2,
.project-box p,
.title,
.sub-title,
.blog-heading,
.items-list-in-prod-item-title,
#signin-form form label,
#signup-form form label,
#form .button:hover{
    color: var(--white);
}

#gallery-picture-prev,
#gallery-picture-next,
#close-picture{
    color: var(--dark-purple);
}

.project-box a p{
    color: #fafafa;
}

#home-page a{
    background: #1b0118;
}

.typing {
    color:#1b0118
}
